@import "vars";
@import "libs";
@import "fonts";

@import "../libs/uikit/src/scss/uikit-theme.scss";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 14px;
	min-width: 320px;
	position: relative;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}

.icon {
	height: 15px;
	margin-right: 7px;
}
header {
	margin-bottom: 18px;
}

.header_top, .uk-navbar-nav>li>a {
	font-size: 15px;
	font-family: Arial;
	text-transform: none;
	color: #4e4e4e;
}
.logo img {
	margin: 12px 0px 12px -22px;
}
button {
	background-color: $accentcolor;
	font-size: 15px;
	font-family: Arial;
	border: none;
	border-radius: 3px;
	box-shadow: 0px 3px #d0ad24;
	padding: 9px 0;
	margin-left: 20px;
	height: 32px;
	width: 160px;
}
a {
	color: #474330;
	text-decoration: none;
	cursor: pointer;
}
 .uk-container {
	 padding: 0px;
	 margin: 0px 43px;

 }
.header_top {
	height: 70px;
}
.header_top_a {
	margin-top: 18px;
}
.icon_top {
margin: 10px;
}
.svg {
	 filter: invert(0.5) sepia(1) saturate(64) hue-rotate(223deg) brightness(0.78);
}
hr {
	margin-top: 0px;
}

.uk-navbar-nav>li>a {
	width: auto;
	height: 70px;
	padding: 20px;

}
aside {
	padding-top: 18px;
	padding-bottom: 18px;
	background-color: #f6f5f3;
}
.uk-nav>li>a {
	padding: 0px;
	margin: 18px 0 25px 20px;

}

.container {
	position: relative;
}

.text-block {
	position: absolute;
	top: 30px;
	left: 42px;
	height: 166px;
	width: auto;
  margin: 15px 13px 17px 20px;
	letter-spacing: 2px;
	background-color: white;

	opacity: 0.5;


}

h1 {

	font-size: 48px;
	font-weight: bold;
	margin: auto;
  color: black;
}




// @import "media"; // Always at the end
