@import "vars";
@import "libs";
@import "fonts";

@import "../libs/uikit/src/scss/uikit-theme.scss";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 14px;
	min-width: 320px;
	position: relative;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}
h3 {
	font-size: 18px;
}
h2 {
	text-transform: uppercase;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}

.icon {
	height: 15px;
	margin-right: 7px;
}
header {
	margin-bottom: 18px;
	.svg {
		path {
			fill: $accent2;
		}
	}
}
header .uk-navbar-nav li a:hover {
	color: $accent2;
	text-decoration: underline;
}

.header_top, .uk-navbar-nav>li>a {
	font-size: 15px;
	font-family: Arial;
	text-transform: none;
	color: #4e4e4e;
}
.logo-header img {
	margin: 20px 20px 20px 0px;

}
.button {
	background-color: $accent;
	color: #303030;
	font-size: 15px;
	font-family: Arial;
	border: none;
	border-radius: 3px;
	box-shadow: 0px 3px #d0ad24;
	padding: 9px 0;
	margin-left: 20px;
	height: 32px;
	width: 166px;
	cursor: pointer;
}
a {
	color: #474330;
	text-decoration: none;

}

.header_top {
	height: 70px;
}
.header_top_a {
	margin-top: 18px;
}
.icon_top {
margin: 10px;
}

hr {
	margin-top: 0px;
}

.uk-navbar-nav>li>a {
	width: auto;
	height: 70px;
	padding: 20px;
}

.main_header{
	position: relative;
	overflow: hidden;
	height: 400px;
		img{
			width: auto;
			margin-top: -210px;
		}
	.gradient {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-image: linear-gradient(to right, rgba(black, .7) 0%, transparent 80%);
	}
	.opaque_rectangle{
		background-color: rgba(white, .3);

	}
	.text-block {
		position: absolute;
		top: 44px;
		left: 42px;
		height: auto;
		width: auto;
		padding: 18px 15px 10px 18px;


		h1 {
			font-size: 48px;
			font-weight: bold;
			color: white;
			letter-spacing: 2px;
			line-height: 1;
			margin-bottom: 0;
			width: 390px;
		}

	}
	.main_text {
		position: absolute;
		bottom: 100px;
		left: 62px;
		p {
			font-size: 18px;
			color: white;
			line-height: 1.25;
			letter-spacing: 1px;
			width: 330px;
		}
	}
}

.main_offer {
	background-color: #f6f5f3;
  margin-top: -40px;
	padding-bottom: 100px;
}

.uk-card {
	background-color: white;
}

h3.uk-card-title {
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 1px;
	padding-top: 40px;
	padding-left: 40px;
	color: black;

}

.first_cell {
	height: 300px;
	padding-top: 15px;
	background-color: initial;
	h2 {
		text-transform: uppercase;
		color: white;
		line-height: 1.125;
	}
	span {
		color: $accent2;
		font-size: 30px;
		font-weight: bold;
	}
	p {
		font-size: 18px;
		font-style: italic;
		margin-top: 35px;
	}
}
.offer_cell {

	height: 300px;
	padding: 0px;
	position: relative;
	.offer_icon1, .offer_icon2, .offer_icon3, .offer_icon4, .offer_icon5 {
		float: right;
	}
	p {
		color: black;
		padding-left: 40px;
		padding-right: 40px;
	}
	.offer_icon {
		height: 13px;
		margin-left: 15px;
	}
	.offer_icon1 {
		margin-top: 0px;
		margin-right: 20px;
		margin-left: 10px;
	}
	.offer_icon2 {
		margin-right: 30px;
		margin-top: -40px;
	}
}
.offer_button {
	width: 90%;
	height: 51px;
	margin: auto;
	border-radius: 0px;
	background-color: initial;
	box-shadow: none;
	font-weight: bold;
	position: absolute;
	bottom: 21px;
	left: 21px;
	cursor: pointer;
}
.offer_button1 {
	border: 2px solid #6e839e;
	color: #6e839e;
	.svg {
		path {
			fill: #6e839e;
		}
	}
}
.offer_button2 {
	border: 2px solid #00a276;
	color: #00a276;
	.svg {
		path {
			fill: #00a276;
		}
	}
}
.offer_button3 {
	border: 2px solid #ff4e0a;
	color: #ff4e0a;
	.svg {
		path {
			fill: #ff4e0a;
		}
	}
}
.offer_button4 {
	border: 2px solid #5f536b;
	color: #5f536b;
	.svg {
		path {
			fill: #5f536b;
		}
	}
}
.offer_button5 {
	border: 2px solid #aa6458;
	color: #aa6458;
	.svg {
		path {
			fill: #aa6458;
		}
	}
}
.offer_cell3 {
	p {
	margin-bottom: 20px;
	padding-top: 10px;
	padding-right: 180px;
	}
	h3 {
		padding-right: 90px;
	}
}
.offer_cell4 {
	.offer_icon3 {
		margin-right: 40px;
		margin-left: 40px;
		margin-top: -10px;
	}
}
.offer_cell5 {
	.offer_icon4 {
		margin-right: 20px;
		padding-left: 50px;
	}
	p {
		padding-top: 10px;
	}
}
.offer_cell6 {
	.offer_icon5 {
		margin-right: 20px;
	}
}

.clear{
	clear: both;
}

.main_plan {
		margin-top: -72px;
		padding-bottom: 164px;
	h2 {
		text-transform: uppercase;
		width: 280px;
		font-size: 24px;
		margin-bottom: 100px;
		span {
			font-size: 30px;
			color: $accent;
			font-weight: bold;
		}
	}
}

.plan_block {

	h3 {
	  text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 1.5px;
	}
	p {
		color: #747474;
	}
}
.plan_left {
	width: 50%;
	float: left;
	text-align: right;
	margin-top: -40px;
	p {
		padding-left: 215px;
		padding-right: 60px;
	}
	h3 {
		padding-right: 60px;
	}
}
.plan_right {
	width: 50%;
	float: right;
	text-align: left;
	margin-top: -40px;
	p {
		padding-left: 60px;
		padding-right: 215px;
	}
	h3 {
		padding-left: 60px;
	}
}
.plan_circle {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	height: 33px;
	width: 33px;
	vertical-align: middle;
	background-color: $accent;
	border-radius: 50%;
	color: black;
	font-weight: bold;
	text-align: center;
	margin-top: -5px;
	font-size: 15px;
	line-height: 33px;
	box-shadow: 0px 10px white, 0px -10px white;
}
.vl {
	border-left: 2px solid $accent;
	height: 1000px;
	position: absolute;
	left: 50%;
	margin-top: 115px;
}
.plan_circle::after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-right: 10px solid $accent;
	border-bottom: 8px solid transparent;
	margin-top: -24px;
	margin-left: -7px;
}

.plan_right .plan_circle::after {
	margin-left: 30px;
	transform: rotate(180deg);
}
.main_plan .button {
	position: absolute;
	left: 50%;
	margin-left: -80px;
	margin-top: 20px;
}
.mediateka {
	background-color: #f6f5f3;
	padding-bottom: 110px;
	h2 {
		margin-top: -30px;
		text-transform: uppercase;
		width: 280px;
		font-size: 24px;
		width: 205px;
	}
	span {
		font-size: 30px;
		color: $accent2;
		font-weight: bold;
	}
}
.media_button {
	width: 122px;
	height: 41px;
	border: none;
	background-color: white;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}
.media_button:hover {
	color: $accent2;
}
 .media_image {
    height: 277px;
		object-fit: cover;
 }
.media_wrap{
	position: relative;
	display: block;

	span{
		position: absolute;
		display: inline-block;
		bottom: 20px;
		left: 20px;
		right: 20px;
		font-size: 16px;
		color: white;
	}
}
.question {
	background-image: url(/img/contact_bg_hor.png), url(/img/contact_bg_ver.png), url(/img/contact_bg_hor.png), url(/img/contact_bg_ver.png);
	background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
	background-position: top left, top left, bottom left, bottom right;
	height: 615px;
	h2 {
		font-size: 30px;
		text-align: center;
		margin-top: 76px;
		margin-bottom: 0;
	}
	.p {
		font-size: 24px;
		margin-bottom: 30px;
		margin-top: 50px;
	}
	p {
		margin-top: 0;
		margin-bottom: 36px;
		color: #363636;
	}
	.button {
		margin: auto;
		width: 277px;
		height: 51px;
		font-size: 24px;
	}
	span {
		font-size: 24px;
	}
	input {
		border-color: #cccccc;
		height: 32px;
		width: 277px;
		margin-top: 20px;
		margin-bottom: 50px;
		font-size: 15px;
	}
	a {
		color: #5f87c5;
		text-decoration: underline;
	}
	.question_left {
		margin-left: 210px;
		margin-top: 80px;
		padding-right: 30px;
	}
	.question_right {
		margin-right: 250px;
		margin-top: 90px;
		margin-left: 20px;
	}
}
.map {
	background-color: #e4eeff;
	iframe {
		width: 100%;
	}
}
footer {
	height: auto;
	margin-top: 68px;
	margin-bottom: 10px;
	ul {
		font-size: 15px;
		color: #656565;
		li {
			line-height: 0.8;
		}
	}

	.uk-nav>li>a {
		margin-top: 9px;
		margin-bottom: 9px;
	}
	.footer_h {
		font-weight: bold;
		font-size: 15px;
		margin-bottom: 25px;
		color: #212121;
	}
	.footer-two {
		margin-left: 100px;
		margin-right: -70px;
	}
	.footer-three {
		margin-left: 170px;
		margin-right: -10px;
	}
	.footer-four {
		margin-left: 150px;
		margin-right: -10px;
	}
	hr {
		margin-top: 61px;
	}
}
.foot-bottom {
	color: #7f7f7f;
	letter-spacing: 1px;
	.foot-icon {
		margin-left: 18px;
	}
}
//STUDENT
.student-main {
	background-color: #f6f5f3;
	height: 884px;
}
.student-left {
	float: left;
	width: 193px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: -40px;
	padding-left: 40px;
	.blog {

		a {
			font-size: 14px;
			color: #476ac6;
			letter-spacing: normal;
		}
		p {
			font-size: 12px;
			color: #888888;
			letter-spacing: 0.5px;
		}
		.marked-blog {
			color: #6da2e1;
		}
		p:nth-child(odd) {
			margin-top: 0;
		}
		p:nth-child(even) {
			margin-bottom: 0;
		}
		p:first-child {
			color: #303030;
			font-size: 11px;
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 2px;
			margin-top: 45px;
			margin-bottom: 20px;
		}
	}
	li {
		line-height: 41px;
		a {
			padding: 0;
			margin-left: -40px;
			padding-left: 40px;
			color: #7f7f7f;
		}
		.active {
			background-color: white;
			color: #3e3e3e;
		}
		a:hover {
			color: #476ac6;
		}
	}
}
.student-right {
	float: right;
	width: 304px;
	.student-right-block-2 {
		margin-left: 20px;
		margin-top: 20px;
		p {
			margin-top: 15px;
			margin-bottom: 15px;
			padding-right: 20px;
		}
	}
	a {
		color: #0054b9;
	}
	p span {
		font-size: 16px;
		font-weight: bold;
	}
	.student-right-block-1 {
		position: relative;
		height: auto;
		width: 305px;
		background-color: white;
		margin-top: 20px;
		ol li {
			height: 40px;
			margin-bottom: 9px;
		}
		p {
			margin-bottom: 0;
			margin-top: 0;
			color: #888888;
		}
		.avatar {
			float: left;
			margin: 20px;
			border-radius: 50%;
			width: 50px;
			object-fit: none;

		}
		.avatar-wrap {
			position: absolute;
			left: 92px;
			bottom: 25px;
		}
	}
}
.student-middle-1, .student-middle-2 {
	background-color: white;
	width: 660px;
	height: auto;
	margin-right: 20px;
	margin-left: 18%;
	margin-top: 20px;
	font-size: 15px;
	line-height: 0.75;
	hr {
		margin-top: 20px;
	}
	.st-mdl-r {
		float: right;
		width: 80%;
		margin: 25px 0px;
	}
	.st-mdl-l {
		float: left;
		width: 15%;
		margin: 25px 0px 25px 25px;
		color: #888888;
	}
	form {
		text-align: right;
		font-size: 14px;
		color: #656565;
		margin-right: 96px;
		input:nth-child(6), input:nth-child(5) {
			width: 128px;
		}
		input {
			height: 30px;
			width: 258px;
			margin-top: 15px;
			margin-left: 22px;
			border-color: #cccccc;
		}
	}
}
.radio-gender input[type="radio"] {
    display:none;
}
.radio-gender label {
	display: inline-block;
	width: 128px;
	height: 30px;
  border: 1px solid #cccccc;
	text-align: center;
	margin-top: 15px;
	margin-bottom: -10px;
}
.radio-gender input[type="radio"]:checked + label {
    border-color: #6c88d1;
		background-color: #d3dbf1;
}
.student-middle-2 {
	height: 200px;
	width: 610px;
	padding: 25px;
	p {
		line-height: normal;
		margin-bottom: 35px;
	}
	.st-mdl-parag {
		margin-top: -18px;
		margin-bottom: -5px;
		margin-right: 110px;
		line-height: 1.25;
	}
	.inactive {
		font-weight: bold;
		color: #cccccc;
	}
}
.student-middle-2 .st-circle::before {
	content: "";
	background-color: green;
	width: 14px;
	border-radius: 50%;
}


// @import "media"; // Always at the end
